@model INTELISIS.APPCORE.EL.CorreoGenerico
@RenderBody()
<div style="background-color: #f1f1f1; padding: 10px; text-align: center; font-size: 12px; color: #999; border-radius: 0 0 8px 8px;">
    Este mensaje fue enviado automáticamente. Por favor, no respondas a este correo.
</div>
