@model INTELISIS.APPCORE.EL.HistorialReparaciones

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistorialReparaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipoID" class="control-label"></label>
                <input asp-for="EquipoID" class="form-control" />
                <span asp-validation-for="EquipoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReparacion" class="control-label"></label>
                <input asp-for="FechaReparacion" class="form-control" />
                <span asp-validation-for="FechaReparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProblema" class="control-label"></label>
                <input asp-for="DescripcionProblema" class="form-control" />
                <span asp-validation-for="DescripcionProblema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrabajoRealizado" class="control-label"></label>
                <input asp-for="TrabajoRealizado" class="form-control" />
                <span asp-validation-for="TrabajoRealizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorID" class="control-label"></label>
                <input asp-for="ProveedorID" class="form-control" />
                <span asp-validation-for="ProveedorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsable" class="control-label"></label>
                <input asp-for="Responsable" class="form-control" />
                <span asp-validation-for="Responsable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
